.loading {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 3rem;
  margin-top: 50px;
}

.header {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.main-header-text {
  font-size: 3rem;
  color: var(--secondary);
}

.loading {
  height: 100vh;
}

.sub-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow-y: hidden;
  padding: 0px 25px;
  max-height: 30px;
  margin-bottom: -10px;

  transition-duration: 0.3s;
}

.sub-header-expanded {
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
  max-height: 230px;
  margin-bottom: 0px;
}

.secondary-headers {
  display: flex;
  justify-content: space-between;
}

.secondary-header {
  display: flex;
  justify-content: flex-start;
  overflow-x: visible;
}

.secondary-header-desc {
  color: var(--secondary);
}

.header-desc {
  text-indent: 20px;
  margin-top: 10px;
}
