.charts-overall {
  display: flex;
  justify-content: center;
  position: relative;

  margin: 30px 10px;
}

.bar-stack {
  height: 750px;
  width: 1300px;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  position: relative;
}
