whale-project.code-workspace

start.sh
example.json
**/.env
.env.*

/.vscode

.venv
env
development.test.py
**/__pycache__/
/public/companies.bson
/public/companies.json

/search/companies.json

/proxy/letsencrypt
/proxy/data

docker-compose.yml
docker-compose.yaml
docker-compose.dev.yml
docker-compose.dev.yaml

docker-proj.zip
