whale-project.code-workspace

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

/frontend/coverage

/frontend/.next/
/frontend/out/
/frontend/next.config.js

/frontend/build

/frontend/.DS_Store
/frontend/*.pem

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

/frontend/.env*.local

/frontend/.vercel
/frontend/.prettierrc

/backend/development.test.py
/backend/__pycache__
/backend/routers/__pycache__
/backend/routers/utils/__pycache__
/backend/static/companies.bson
/backend/static/companies.json

/search/companies.json

docker-proj.zip