.gains-container {
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;

  margin: 20px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.header-description {
  font-size: 1rem;
}

.select-item {
  all: unset;
}

.drop-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100px;
  top: 5px;
  right: 5px;
}

.drop-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 15px;
  padding: 7px;
  margin:  3px;
  border-radius: 5px;

  color: white;
  background-color: black;
  transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease;
}

.drop-button-drag {
  width: 30px;

  color: black;
  background-color: white;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.add-date {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 25px;
  height: 25px;
  padding: 8px;

  color: white;
  background-color: #1c1c1b;
  border-radius: 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.add-date:hover {
  background-color: white;
  color: #1c1c1b;
}
