.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  height: 75px;
  width: 100%;

  background-color: var(--offwhite);
}

.logo-text {
  font-size: 1.3rem;
}

#whale {
  color: var(--primary);
}

#market {
  color: var(--secondary);
}

.donation {
  font-size: 0.8rem;
  opacity: 0.8;
  transition: color 0.2s ease;
}

.donation:hover {
  color: var(--primary-dark);
}
