whale-project.code-workspace

start.sh
example.json
.env
*.env
.env.*
**.env

.venv
.pdm-build
.DS_Store
development.test.py
**/__pycache__/
celerybeat-schedule.db
/static/companies.bson
/static/companies.json

/proxy/letsencrypt
/proxy/data

docker-compose.yml
docker-compose.yaml
docker-compose.dev.yml
docker-compose.dev.yaml
*.pem

docker-proj.zip
