.button {
  all: unset;
  vertical-align: middle;

  cursor: pointer;
  width: 17px;
  opacity: 0.5;

  transition-duration: 0.3s;
  transition-property: transform;
}

.button-click {
  opacity: 1;
  transform: scale(1.05);
}

.button-reverse {
  vertical-align: middle;
  transform: rotate(180deg);
}

.button-image {
  margin-right: 4px;
  margin-left: 4px;
}
