.select-container {
  display: flex;
  position: relative;

  padding: 10px;
}

.select-background {
  position: absolute;

  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 5;
  border-radius: 5px;
  width: 100%;
}

.select-headers {
  width: 100%;
}

.select-records {
  display: flex;
  width: 100%;
}

.picker-attributes {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.picker-attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribute-button {
  all: unset;
  cursor: pointer;
}

.attribute-text {
  color: var(--secondary-dark);
  padding: 5px;

  transition: color 0.1s ease;
}

.attribute-text:hover {
  color: var(--black-one);
}

.attribute-hint {
  opacity: 0.8;
  color: var(--secondary-dark);
}
