.table {
  background-color: #1c1c1b;
  border-collapse: collapse;

  width: 100%;
  overflow: hidden;
}

.table-container {
  margin: 20px;

  overflow-x: auto;
  white-space: nowrap;
}

.header-column {
  text-align: left;
  vertical-align: middle;
}

.body-column {
  text-align: left;
}

.column {
  color: #c8c4c3;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border: 2px solid gray;
  text-align: left;
  padding: 16px;
}

.column-highlighted {
  color: white;
}

.loading {
  display: flex;
  justify-content: center;

  font-size: 1rem;
}
