.date {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  position: relative;
  cursor: grab;

  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;

  /* animation: slide-in-right 0.3s ease; */
  background-color: var(--secondary);
}

/* .remove {
  animation: slide-out-right 0.3s;
  animation-fill-mode: forwards;
} */

@keyframes slide-in-right {
  from {
    transform: translateX(-210px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  to {
    transform: translateX(-210px);
    opacity: 0;
  }
}

.plus-minus {
  display: flex;
  justify-content: space-between;
  position: absolute;

  width: 90%;
  margin: 5px;
  margin-top: 10px;
}

.date-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  padding: 2px;
  width: 15px;
  height: 15px;
  border-radius: 3px;

  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.date-button:hover {
  background-color: white;
  color: black;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 10;

  font-size: 0.85rem;
  padding: 10px;
  height: 20px;
  width: 100px;
  margin-top: 15px;

  color: white;
  background-color: var(--secondary);
  border: solid white 1px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.button:hover,
.remove-table {
  color: var(--secondary);
  background-color: white;
}

/* .download,
.download:hover {
  color: #04df16;
} */
