.gains {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 80%;
  padding: 20px;
  margin-top: 30px;
}

.gain-background {
  position: absolute;

  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;

  background-color: var(--secondary);
}

.gains-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  width: 100%;
  height: 100%;
}

.dates-container {
  display: flex;
  flex-wrap: wrap;

  width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.header-description {
  font-size: 1rem;
}

.select-item {
  all: unset;
}

.drop-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 7px;
}

.drop-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 20px;
  height: 20px;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;

  color: white;
  background-color: black;
  transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease,
    height 0.3s ease;
}

.drop-button:hover {
  background-color: white;
  color: black;
}

.drop-button-drag {
  width: 200px;

  color: black;
  background-color: white;
}

.drop-button-over {
  color: black;
  background-color: white;
}

.drop-svg {
  width: 20px;
  height: 20px;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.add-date {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 25px;
  height: 25px;
  padding: 8px;

  color: white;
  background-color: var(--secondary);
  border-radius: 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.add-date:hover {
  background-color: white;
  color: var(--secondary);
}
