.picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.date {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 10;

  padding: 10px;
  height: 20px;
  width: 100px;
  margin-top: 24px;

  color: white;
  background-color: #1c1c1b;
  border: solid white 1px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.date:hover {
  color: #1c1c1b;
  background-color: white;
}

.date-text {
  text-align: center;
  font-size: 0.85rem;
  color: white;
  user-select: none;

  transition: color 0.3s ease;
}

.date:hover .date-text {
  color: #1c1c1b;
}

.calendar-svg {
  width: 15px;
}

.date-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 5;

  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

.display-expanded {
  z-index: 15;
}

.years {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 85%;
  margin: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.chevron-button {
  all: unset;
  cursor: pointer;
}

.chevron {
  width: 15px;
  transition: color 0.3s ease;
}

.chevron-button:hover .chevron {
  color: #04df16;
}

.year-input {
  all: unset;
  text-align: center;

  width: 100px;
  height: 20px;

  color: black;
}

.year-input::-webkit-outer-spin-button,
.year-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.year-input[type="number"] {
  appearance: textfield; /* Firefox */
  -moz-appearance: textfield;
}

.months {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 150px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.month {
  all: unset;
  text-align: center;
  cursor: pointer;

  color: white;
  background-color: black;
  border-radius: 5px;

  font-size: 0.8rem;
  margin: 5px;
  padding: 3px;
  width: 28px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.month-selected,
.month:hover {
  background-color: #04df16;
  color: black;
}
