.header-item {
  all: unset;
  cursor: pointer;
  user-select: none;
  text-align: center;
  overflow-x: hidden;
  text-wrap: nowrap;

  padding: 3px;
  opacity: 1 !important;

  background-color: var(--secondary);

  transition: background-color 0.2s ease, border-color 0.2s ease,
    opacity 0.2s ease;
}

.header-text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--white);

  transition: color 0.2s ease;
}

.header-item:hover .header-text {
  color: var(--offwhite);
}

.header-clicked {
  background-color: var(--primary-dark);
}

.header-fixed {
  width: 50%;
}
