.reload {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0.5;

    background-color: var(--secondary);

}

.reload-text {
    font-size: 2rem;
    opacity: 1;

    color: var(--primary);
}