.loading-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 75%;
  background-color: black;
  z-index: 999;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
