.tabs {
  display: flex;
  justify-content: center;

  width: 100%;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 10%;
  margin: 20px 0px 0px 0px;
}

@media (max-width: 640px) {
  .tab-container {
    width: 20%;
  }
}

.first-tab {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.last-tab {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.tab {
  text-align: center;
  cursor: pointer;

  padding: 5px 0px;
  width: 100%;
  height: 100%;

  color: var(--secondary-dark);
  background-color: var(--offwhite-dark);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tab:hover {
  color: var(--secondary);
}

.tab-clicked {
  color: var(--white);
  background-color: var(--secondary);
}

.tab-clicked:hover {
  color: var(--offwhite);
}

.tab-tip {
  opacity: 0.5;
  font-size: 0.7rem;
  margin-top: 5px;
  text-align: center;
}
