.record-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 10;

  font-size: 0.85rem;
  padding: 10px 20px;
  width: 200px;
  margin-top: 50px;

  color: white;
  background-color: var(--secondary);
  border: solid white 1px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.record-button:hover {
  color: var(--secondary);
  background-color: white;
}

.record-text {
  font-size: 1.5rem;
}

.record-icon {
  width: 20px;
}
