.analysis-container {
  max-height: 50px;
  border-radius: 5px;
  margin: 30px 0px;

  overflow: hidden;
  transition: max-height 0.3s ease, background-color 0.3s ease;
}

.analysis-expanded {
  max-height: 800px;
  background-color: var(--offwhite-dark);
}

.analysis-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  width: 10%;
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  margin: auto;
  margin-top: 10px;

  background-color: var(--offwhite-dark);
  transition: opacity 0.3s ease, color 0.3s ease, width 0.3s ease,
    background-color 0.3s ease;
}

.analysis-expanded .analysis-button {
  width: 97%;
}

.analysis-button:hover {
  color: var(--offwhite);
  background-color: var(--secondary);
}

.analysis-dummy {
  height: 20px;
  width: 1%;
  transition: width 0.5s ease;
}

.dummy-expand {
  width: 100%;
  transition: width 0.5s ease;
}

.analysis-hidden {
  opacity: 1;
}

.analysis-icon {
  width: 20px;
}

.analysis-children {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  margin: auto;
}
