.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  max-height: 0px;
  padding: 30px;
  margin: 20px;
  overflow-y: hidden;

  transition-property: max-height, background-color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.timeline-expanded {
  max-height: 800px;
  background-color: var(--offwhite-dark);
}

.timeline-description {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
}

.timeline-text {
  text-align: center;
  font-size: 0.8rem;
}

.timeline-select {
  display: flex;
  align-items: center;
  cursor: pointer;

  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background: none;
}

.timeline-info {
  display: flex;
  align-items: center;

  margin-top: -40px;
  margin-left: -28px;

  /* Dirty CSS to match one icon to the other, fix later with an overarching container. */
}

.sort-icon {
  width: 20px;
  margin: 0px 10px;
}

.sort-tip {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.sort-hidden {
  opacity: 0;
}

.timeline-button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;

  height: 20px;
  color: var(--secondary-dark);
  transition: color 0.3s ease;
}

.timeline-button:hover {
  color: var(--primary-dark);
}

.timeline-icon {
  width: 100%;
  height: 100%;

  color: inherit;
}

.timeline-selects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}
