.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  padding: 10px;
  max-width: 35vw;
  border-radius: 5px;
  margin: auto;

  /* opacity: 0;
  animation: slide-up 0.3s 2s;
  animation-fill-mode: forwards; */

  z-index: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;

  background-color: var(--secondary);
}

.recommended-lists {
  display: flex;
  justify-content: center;

  padding: 10px;
  width: 100%;
}

.list-title {
  font-size: 1rem;

  color: white;
  transition: color 0.3s ease;
}

.list-title:hover {
  color: var(--primary-dark);
}

.recommended-item {
  font-size: 1.01rem;

  cursor: pointer;
  text-align: left;

  color: white;
  transition: color 0.3s ease;
}

.recommended-item:hover {
  color: var(--primary-dark);
}

.recommended-homepage {
  margin-bottom: 15vh;
  opacity: 0;

  transform: translateY(400px);
}

@keyframes slide-up {
  from {
    transform: translateY(400px);
  }
  to {
    opacity: 1;
  }
}

.recommended-slide-up {
  transform: none;
  opacity: 1;

  transition: transform 0.5s ease, opacity 0.5s ease;
}

.recommended-title {
  font-size: 2rem;

  color: white;
}

.recommended-list {
  text-align: center;

  height: 100%;
  width: 100%;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;

  background-color: var(--offwhite-dark);
  transition: transform 0.3s ease;
}

.suggestion:hover {
  background-color: var(--offwhite-darker);
}

.suggestion-title {
  text-align: center;

  font-size: 1.5rem;
}

.suggestion-ids {
  font-size: 0.8rem;
}

.suggestion-description {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;

  margin-top: 15px;
  font-size: 0.9rem;
}
