.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

  border-radius: 3px;
  margin-left: 15px;
  margin-top: 4px;
  border: solid var(--offwhite-dark) 3px;

  background-color: var(--offwhite);
}

.search-box {
  display: flex;
  align-items: center;

  width: 400px;
  height: 35px;
  padding: 10px;
  border-radius: 5px;

  background-color: var(--offwhite);
}

.search-input {
  outline: none;
  border: none;
  cursor: pointer;
  caret-color: transparent;

  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  margin-top: -5px;
  border-radius: 5px;
  z-index: 10;

  color: var(--offwhite-dark);
  background-color: var(--offwhite);
}

.results {
  overflow-y: hidden;

  width: 400px;
  max-height: 0px;
  margin-top: -15px;
  border-radius: 5px;
  padding-bottom: 10px;
  z-index: 5;

  background-color: var(--offwhite);
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.result-list {
  all: unset;
  list-style: none;
}

.results-expand {
  max-height: 400px;

  transition-property: max-height;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.result {
  display: flex;
  justify-content: space-between;

  border: none;
  margin-top: 10px;
}

.result span {
  color: rgb(65, 65, 65);
  font-size: 0.8rem;
}
