.record-link {
  display: flex;
  justify-content: center;
  width: 100%;
}

.record-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 10;

  font-size: 0.85rem;
  padding: 10px 20px;
  width: 97%;
  margin-right: 5px;

  color: white;
  background-color: var(--secondary);
  border: 0px solid;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.record-button:hover {
  color: var(--secondary);
  background-color: var(--white);
}

.record-text {
  font-size: 1.5rem;
  margin-right: 10px;
}

.record-icon {
  width: 20px;
  margin-left: 10px;
}
