.record {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  height: 10px;
  margin-right: 5px;

  color: var(--white);
  background-color: var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.record:hover {
  color: var(--secondary-dark);
  background-color: var(--white);
}

.record-icon {
  width: 15px;
  height: 15px;
}
