.progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 40vh;
  padding: 20px;
  border-radius: 5px;
}

.header {
  text-align: center;

  width: 20%;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;

  color: var(--primary-dark);
  background-color: var(--secondary);
}

.logs {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  width: 90%;
  height: 90%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;

  background-color: var(--secondary-dark);
}

.log {
  font-size: 0.9rem;
  margin-bottom: 5px;

  color: white;
}
