.progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 40vh;
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;

  color: var(--secondary-dark);
}

.main-header {
  display: flex;
  justify-content: center;

  text-align: center;
  width: 20vw;
}

.main-header span {
  margin-right: 15px;
}

.sub-header {
  display: flex;
  justify-content: center;

  margin-top: 5px;
  width: 100%;
  font-size: 0.8rem;
}

.logs {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;

  width: 90%;
  height: 90%;
  margin: 20px;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 5px;

  background-color: var(--secondary-dark);
}

.log {
  font-size: 0.9rem;
  margin-bottom: 5px;

  color: white;
}

.estimation {
  display: flex;
  justify-content: center;
}
