.progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 50vh;
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;

  color: var(--secondary);
}

.main-header {
  display: flex;
  justify-content: center;

  text-align: center;
  width: 25vw;
}

.main-header span {
  margin-right: 15px;
}

.sub-header {
  display: flex;
  justify-content: center;

  margin-top: 5px;
  width: 100%;
  font-size: 0.8rem;
}

.logs {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;

  width: 90%;
  height: 90%;
  margin-bottom: 0px;
  border-radius: 5px;
}

.log {
  font-size: 0.9rem;

  color: white;
  font-family: monospace;
}

.estimation {
  display: flex;
  justify-content: center;
}

.go-back {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;

  font-size: 1.1rem;
  padding: 8px;
  border: solid 1px var(--offwhite);
  border-radius: 5px;
  margin-top: 20px;

  color: var(--white);
  background-color: var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.go-back:hover {
  color: var(--secondary-dark);
  background-color: var(--white);
}
