.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 60px;
  max-height: 7%;
  top: 0px;
  padding: 10px;
  z-index: 1000;

  background-color: var(--secondary);
}

.logo {
  display: flex;
  align-items: center;

  width: 50%;

  flex-wrap: nowrap;
}

.logo-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.logo-text {
  font-size: 2vw;
}

#whale {
  color: var(--primary);
}

#market {
  color: white;
}

.search {
  margin-left: 15px;
  width: 100%;
}

.links-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 20px;
}

.item {
  font-size: 1vw;
  text-align: center;
  white-space: nowrap;

  margin: 10px;
  border-radius: 5px;

  color: white;
  transition: color 0.3s ease, scale 0.2s ease;
}

.item:hover {
  color: var(--primary);
}
