.sort-header {
  display: flex;
  align-items: center;
}

.sort-icon {
  cursor: pointer;

  height: 20px;

  color: var(--secondary);
  transition: color 0.3s ease, scale 0.3s ease;
}

.sort-icon:hover {
  scale: 1.1;
}

.sort-tip {
  color: var(--secondary-dark);
  opacity: 0.8;
  flex-wrap: wrap;
  white-space: wrap;

  transition: color 0.3s ease;
}

/* .sort-tip:hover {
  color: var(--primary-dark);
} */

.expand-button {
  width: 20px;
}

.sort-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 10px;
  border-radius: 5px;

  max-height: 40px;
  transition-property: max-height, background-color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.sort-body {
  margin: 30px;
}

.sort-downloads {
  display: flex;

  margin-top: 50px;
  margin-bottom: 20px;
}

.sort-expanded {
  background-color: var(--offwhite-dark);
  max-height: 1000px;

  transition-property: max-height, background-color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.sort-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
