.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  margin: auto;
  margin-bottom: 50px;
  width: 60vw;
  height: 250px;
  padding: 25px;
  border-radius: 5px;
  bottom: 75px;

  /* opacity: 0;
  animation: slide-up 0.3s 2s;
  animation-fill-mode: forwards; */

  opacity: 0;
  transform: translateY(400px);
  transition: transform 0.5s ease, opacity 0.5s ease;

  background-color: var(--secondary);
}

@keyframes slide-up {
  from {
    transform: translateY(400px);
  }
  to {
    opacity: 1;
  }
}

.recommended-slide-up {
  transform: none;
  opacity: 1;

  transition: transform 0.5s ease, opacity 0.5s ease;
}

.recommended-title {
  font-size: 2rem;

  color: var(--primary-dark);
}

.recommended-list {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  width: 100%;
  height: 85%;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 200px;
  max-width: 400px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  height: 80%;

  background-color: var(--offwhite-dark);
  transition: transform 0.3s ease;
}

.suggestion:hover {
  background-color: var(--offwhite-darker);
}

.suggestion-title {
  text-align: center;

  font-size: 1.5rem;
}

.suggestion-ids {
  font-size: 0.8rem;
}

.suggestion-description {
  text-align: center;

  margin-top: 15px;
  font-size: 0.9rem;
}
