.estimation {
  display: flex;
  justify-content: center;

  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;

  background-color: var(--secondary);
}

.estimation-text {
  font-size: 1.5rem;

  color: var(--primary);
}
