.building {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;

  width: 200px;
  height: 50px;

  cursor: pointer;
}

.building:hover {
  justify-content: space-between;
}

.building-text {
  opacity: 0;

  font-size: 0.8rem;

  color: var(--secondary);
  transition: none;
}

.building:hover .building-text {
  opacity: 0.7;

  transition: opacity 0.1s ease;
}

.loading {
  position: relative;

  width: 30%;
  height: 100%;
}

.no-background {
  background: none;
}
