.filter-text {
  text-align: center;

  color: var(--secondary);

  transition: color 0.3s ease;
}

.filter-item {
  all: unset;
  cursor: pointer;
  user-select: none;
  text-align: center;

  opacity: 1 !important;
  padding: 5px;
  max-width: fit-content;
  min-width: 70px;
  border: none;

  background-color: var(--offwhite-dark);

  transition: background-color 0.3s ease, border-color 0.3s ease,
    opacity 0.3s ease;
}

.filter-item:nth-child(1) {
  margin-left: 0px;
  padding: 5px;
}

.filter-fixed {
  width: 200px;
  flex-grow: 0;
}

.filter-item:hover,
.filter-clicked {
  background-color: var(--primary);
}

.filter-item:hover,
.filter-clicked .filter-text {
  color: black;
}

.filter-dragging .filter-text {
  color: white;
}

.filter-dragging {
  background-color: var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
