.contact {
  height: 100vh;
  padding: 30px;
}

.contact-header {
  font-size: 2rem;

  color: white;
}

.contact-info {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.contact-items {
  display: flex;
  flex-direction: column;

  width: 20vw;
  padding: 30px;
  border-radius: 5px;
  margin-right: 20px;
  height: fit-content;

  background-color: white;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}

.contact-icon {
  width: 35px;
  color: var(--secondary);
}

.contact-text {
  color: var(--secondary);
}

.info-header {
  text-align: center;

  font-size: 1.5rem;
  margin-bottom: 20px;

  color: var(--secondary);
}

.contact-kofi {
  border-radius: 5px;
  outline: none;

  width: 20vw;
}
