.data {
  width: 98%;
  margin: auto;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.reload {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1000;
  opacity: 0.95;

  background-color: var(--secondary);
}

.reload-text {
  font-size: 2rem;
  opacity: 1;

  color: var(--primary);
}

.reload-hint {
  opacity: 1;
  color: var(--primary);
}

.holding-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px;

  color: var(--secondary-dark);
}

.holding-date {
  color: var(--secondary);
}

.holding-access {
  opacity: 0.8;
}

.holding-value {
  color: var(--secondary);
}
