.fill {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  font-size: 1.5rem;
  text-align: center;

  color: white;
  background-color: var(--primary);
}

.header {
  font-size: 2rem;
}
