html,
body {
  overflow-x: hidden;
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: var(--offwhite);
}

:root {
  --primary: #04df16;
  --primary-dark: #02c002;
  --secondary: #0c0c0c;
  --secondary-dark: #565656;
  --white: white;
  --offwhite: #e2e1e1;
  --offwhite-dark: #b8b8b8;
  --offwhite-darker: #a0a0a0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  font-family: inherit;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary-dark);
}
