@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  margin: 0;

  width: 100%;
  height: 100%;
  z-index: 5;

  font-family: var(--font-light);
}

:root {
  --primary: #04df16;
  --primary-dark: #02c002;
  --secondary: #0c0c0c;
  --secondary-dark: #565656;
  --white: white;
  --offwhite: #e2e1e1;
  --offwhite-dark: #b8b8b8;
  --offwhite-darker: #a0a0a0;

  --green-one: #04df16;
  --green-two: #3dd45b;
  --green-three: #02c002;
  --green-three: #163924;
  --white-one: #ffffff;
  --white-two: #e2e1e1;
  --offwhite-one: #f2fff0;
  --offwhite-two: #d3e1d1;
  --black-one: #1a1a1a;
  --black-two: #242424;
  --black-three: #565656;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  font-family: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--green-three) var(--black-one);
}
