.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.landing-hero {
  display: flex;

  width: 100%;
  z-index: 0;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 100%;

  z-index: -10;

  filter: grayscale(20%) brightness(45%);
}

.banner {
  margin-top: 0px;
}

.landing-dummy {
  background-color: purple;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}

.search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  padding: 50px 30px 60px 30px;
  margin-top: 50px;
  width: 70%;
  border-radius: 10px;
  z-index: 5;

  background-color: #1c1c1b;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.search-hint {
  font-size: 1vw;
  color: var(--white);
  opacity: 0.2;
  margin-bottom: 10px;
}

.donate-hint {
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
  color: var(--white);
  opacity: 0.2;
}

.main-header {
  font-size: 4vw;
  color: #04df16;
  text-align: center;
}

.sub-header {
  font-size: 2vw;
  color: white;
  margin-top: 40px;
}

.Suggested-header {
  position: absolute;
  bottom: 10%;
  padding: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-header {
  text-align: center;
  color: var(--secondary);
  background-color: var(--primary-dark);

  font-size: 2.5rem;
  margin: 30px 10%;
  padding: 3px;
  border-radius: 5px;
}

.explore-explanation {
  margin: 0px 10%;
  margin-bottom: 50px;
  text-indent: 30px;
}

.selling-points {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.selling-point {
  display: flex;
  justify-content: space-between;
  text-align: right;

  width: 90%;
  margin: 10px;
  padding: 50px;
  border-radius: 5px;

  background-color: var(--secondary-dark);
}

.selling-text {
  display: flex;
  flex-direction: column;

  width: 60%;
}

.selling-header {
  font-size: 2.5rem;
  margin-bottom: 10px;

  color: var(--primary);
}

.selling-svg {
  height: 150px;
  margin-top: 20px;

  color: var(--primary-dark);
}

.selling-description {
  color: var(--offwhite);
}
