.resources {
  height: 100vh;
  padding: 30px;
}

.resources-head {
  max-width: 50vw;
}

.resources-header {
  font-size: 2rem;

  color: var(--secondary);
}

.resources-description {
  font-size: 0.9rem;

  color: var(--secondary);
}

.resources-body {
  display: flex;
  flex-direction: column;

  margin: 20px;
}

.resources-item {
  margin: 10px;
}

.resources-button {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;

  font-size: 1.1rem;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;

  color: var(--primary);
  background-color: var(--secondary-dark);
  transition: background-color 0.3s ease;
}

.resources-button:hover {
  color: var(--white);
  background-color: var(--primary-dark);
}

.button-tooltip {
  font-size: 0.8rem;

  color: var(--secondary);
}
