.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 50px;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;
  margin-top: 100px;
}

.main-header {
  font-size: 2.5rem;

  color: var(--secondary-dark);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px 40px;
}

.description-text {
  text-align: center;
  font-size: 1rem;
}

.description-link {
  color: var(--primary-dark);
}

.table {
  background-color: var(--secondary);
  border-collapse: collapse;

  width: 100%;
  overflow: hidden;
}

.table-container {
  margin: 20px;

  overflow-x: auto;
  white-space: nowrap;
}

.header-column {
  text-align: left;
  vertical-align: middle;
}

.body-column {
  text-align: left;
}

.column {
  color: white;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border: 2px solid var(--offwhite-dark);
  text-align: left;
  padding: 16px;
}

.column-link {
  transition: color 0.3s ease;
}

.column-link:hover {
  color: var(--primary);
}

.column-highlighted {
  color: white;
}

.column-dehighlighted {
  color: var(--offwhite-dark);
}
