.search-button {
  all: unset;
  cursor: pointer;

  margin-left: 10px;

  color: white;
  transition: scale 0.2s ease;
}

.search-button:hover {
  scale: 1.1;
  color: var(--primary);
}

.search-svg {
  height: 100%;
}

.search-show {
  color: var(--primary);
}

.search-background {
  display: flex;
  justify-content: center;
  position: absolute;

  top: 0;
  left: 0;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  z-index: 1499;

  background-color: var(--secondary);
}

.search {
  cursor: pointer;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: 40%;
  height: 40px;
  padding: 5px;
  border-radius: 3px;

  z-index: 1500;
  opacity: 1;

  border: solid var(--offwhite-dark) 3px;
  background-color: var(--offwhite);
}

.search-input {
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 10;

  color: var(--offwhite-dark);
  background-color: var(--offwhite);
}

.result-list {
  all: unset;
  list-style: none;
  cursor: pointer;

  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  padding: 5px;
  border-radius: 3px;

  z-index: 1500;
  opacity: 1;

  border: solid var(--offwhite-dark) 3px;
  background-color: var(--offwhite);
}

.result {
  display: flex;
  justify-content: space-between;

  border: none;
  padding: 3px;
  margin: 10px;
}

.result:hover {
  background-color: var(--offwhite-dark);
}

.result span {
  text-align: left;
  font-size: 1rem;
  color: var(--secondary);
}
