.reload {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1000;
  opacity: 0.95;

  background-color: var(--secondary);
}

.reload-text {
  font-size: 2rem;
  opacity: 1;

  color: var(--primary);
}

.reload-hint {
  opacity: 1;
  color: var(--primary);
}
