.search {
  position: relative;
  display: flex;
  justify-content: center;

  padding: 50px 500px;
  height: 800px;
}

.banner {
  margin-top: 0px;
}

.search-header {
  padding: 50px;
  height: fit-content;
  width: 800px;
  border-radius: 10px;
  background-color: #1c1c1b;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.main-header {
  font-size: 3rem;
  color: #04df16;
  text-align: center;
}

.sub-header {
  font-size: 1.3rem;
  color: white;
  margin-top: 40px;
}

.explore {
  display: flex;
  justify-content: center;
  background-color: #1c1c1b;

  height: 500px;
}

.explore-header {
  color: #04df16;
  font-size: 2rem;
  margin-top: 30px;
}
