.filter-item {
  all: unset;
  cursor: pointer;
  user-select: none;
  text-align: center;
  overflow-x: hidden;

  padding: 3px;
  opacity: 1 !important;

  background-color: var(--secondary);

  transition: background-color 0.3s ease, border-color 0.3s ease,
    opacity 0.3s ease;
}

.filter-text {
  text-align: center;
  color: var(--white);

  transition: color 0.3s ease;
}

.filter-item:hover .filter-text {
  color: var(--offwhite);
}

.filter-clicked {
  background-color: var(--primary-dark);
}
