.source-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  transition: color 0.3s ease, scale 0.3s ease;

  color: black;
}

.source-button:hover {
  color: var(--primary-dark);
  scale: 1.1;
}

.source-light {
  color: var(--primary-dark);
}

.source-light:hover {
  color: white;
}

.source-svg {
  width: 100%;
}
